/*/////////CSS STYLES AND CONFIGURATIONS*/
:root{/*holds varibles*/
  --blur-amount:12px;/*this is for the blur to change it*/
  --blur-hovered:30px;/*this is the blur when hovered*/
  --text-color:black;/*this can be changed for the dark mode*/
  --border-rad:12px;/*this is the border settings*/
  --img-link:'IMG_4439.jpeg';/*this is to define the backgrou8nd image*/
  --mode-hover-color:cyan;/*the backgorund for hovered links in topbar...*/
  --mode-hover-color-transparent:rgba(0,30,68,.2);
  --box-background-color:rgb(83, 83, 240);/*the box(like boxblog) background color)*/
}
#main{
  padding:10px;
}
#topbar{/*css for the topbar*/
  background-position-x: center;/*test for making it center*/
  top:0%;
  height:70px;
  background-color:rgba(0,0,0,0);/*set background color to transparent*/
  backdrop-filter:blur(var(--blur-amount));/*blurs the covered areas*/
  position:sticky;/*makes the topbar stay in one spot no matter what*/
  width:100% !important;/*this is to make sure that the top bar covers the whole screen width*/
  overflow:hidden;/*hides the display issues*/
  text-align:center;
}
.link_tiny{/*links in the topbar*/
  text-decoration:none;
  font-size:14px;
  padding:4px;
  background-color:rgba(0,0,0,0);
  color:var(--text-color);
}

.link_tiny:hover{/*links in the topbar when hovered*/
  background-color:var(--mode-hover-color-transparent);
  transform:scale(1.4);
  backdrop-filter:blur(var(--blur-hovered));
  clip-path:border-radius(var(--border-rad));
}
.big_link{/*the main link*/
  text-decoration:none;
  font-size:30px;
  background-color:rgba(0,0,0,0);
  color:var(--text-color);
}
.big_link:hover{
  transform:scale(1.25);
}
.publicdomaindedication{/*the dedication to public domain*/
  font-family:arial;/*loads profesional font*/
  font-size:6px;/*sets the text size to small*/
  color:var(--text-color);/*sets the color to changable based of mode*/
}
.largededication{
  font-size: 40px;
}
.publicdomaindedication img{/*over rides any existing stylestructure*/
  clip-path:none;/*overides the clip path*/
  width:16px;/*changes the width*/
  height:8px;/*changes the height*/
}
.publicdomaindedication a{/*customstyles*/
  text-decoration:none;/*rests the links decoration*/
  color:var(--text-color);/*sets the color to a changable color based of the mode*/
}
a.veryfancy{/*code to make links fancy*/
  text-decoration:none;/*this is for eliminating the blue line and underline*/
  background-color:rgba(0,0,0,0);/*I want the color to match the main background*/
  color:var(--text-color);/*color can change for dark mode*/
}
a.veryfancy:hover{/*code for links when you hover over them*/
  background-color:var(--mode-hover-color-transparent);/*color changes while hovered*/
  clip-path:border-radius(var(--border-rad)); 
}
.body_text_enhan{/*to allow the body to be custom*/
  text-align: center;/*centers the text*/
  background-image:url(var(--img-link));/*loading the image*/
  background-repeat:no-repeat;/*makes sure that the image does not repeat*/
  background-position:center;/*make sure that the background image is full centered*/
  background-size:cover;/*make sure that the background covers the whole webpage*/
}
.img_clippings{/*images will be clipped*/ 
  border-radius:var(--border-rad);
}
.block_hardedges{/*creating bl0ocks in the webpage*/
  background-color:var(--mode-hover-color);/*this will change when dark mode is activated*/
  
}
.test{/*to see if trhe main.css loaded on bottom for prioity to see if errors occured*/
  color:red;
  background-color:green;
  font-size:30px;
}


/*/////////CSS FONTS*/
@font-face{
  font-family:'profesional';/*names the font*/
  src:url('asset/profe.otf'); /*load the font*/
}
/*/////////CSS ANIMATIONS*/
@keyframes topbar_shrink{/*the top bar interactive shrink*/

}
